@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(0deg, rgba(121, 203, 184, 1) 0%, rgba(80, 4, 114, 1) 100%);
    display: flex;
    padding-top: 5rem;
    justify-content: center;
    overflow: hidden;
    margin: 0;
}

.row {
    display: flex;
    width: 500px;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.col-header {
    width: 150px;
    box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
    border-radius: 15px;
    padding: 0.8rem 1rem;
    color: #fff;
}

.item {
    width: 150px;
    height: 66px;
    border: .5px solid #eee;
    box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
    border-radius: 15px;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    padding: 0.8rem 1rem;
    color: #fff;
    text-align: center;
    cursor: grab;
}

.item:active {
    cursor: grabbing;
}

.placeholder {
    width: 150px;
    height: 66px;
}

.start {
    background: linear-gradient(90deg, #ff85e4 0%, #229efd 179.25%);
}

.progress {
    background: linear-gradient(90deg, #209cff 0%, #68e0cf 100%);
}

.done {
    background: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%);
}

.hide {
    display: none;
}

.hold {
    border: 1px solid #eee;
    background: radial-gradient(circle, rgba(238, 174, 202, .6) 0%, rgba(148, 187, 233, .6) 100%);
}

.hovered {
    border-top: 2px solid rgba(255, 255, 255, .6);
    background: radial-gradient(circle, rgba(238, 174, 202, .4) 0%, rgba(148, 187, 233, .4) 100%);
    border-radius: 15px;
    transition: border-top .3s linear;
}